body {
    font-family: sans-serif;
}

#assignment-instructions{
    color: 	#FFE4C4;
    font-family: sans-serif;
}

.second-li-codes {
    color: green;
}

code {
    font-family: Monospaced, sans-serif;
    color: red;
}

li {
    font-family: inherit;
}

ol>li+li {
    background: black;
    color: white;
}

ol li {
    background: black;
    color: white;
}